<template>
    <div>
        <h2 class="text-center">Films List</h2>
 
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Release Date</th>
                <th>Rating</th>
                <th>Ticket Price</th>
                <th>Country</th>
                <th>Genre</th>
                <th>Photo</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="film in films" :key="film.id">
                <td>{{ film.id }}</td>
                <td>{{ film.name }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.release_date }}</td>
                <td>{{ film.rating }}</td>
                <td>{{ film.ticket_price }}</td>
                <td>{{ film.country }}</td>
                <td>{{ film.genre }}</td>
                <td>{{ film.photo }}</td>

                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: film.id }}" class="btn btn-success">Edit</router-link>
                        <button class="btn btn-danger" @click="deleteFilm(film.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                films: []
            }
        },
        created() {
            this.axios
                .get('http://localhost:8000/api/films/')
                .then(response => {
                    this.films = response.data;
                });
        },
        methods: {
            deleteFilm(id) { 
                this.axios
                    .delete(`http://localhost:8000/api/films/${id}`)
                    .then(response => {
                        let i = this.films.map(data => data.id).indexOf(id);
                        this.films.splice(i, 1)
                    });
            }
        }
    }
</script>
