<template>
    <div>
        <h3 class="text-center">Create Film</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addFilm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="film.name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" v-model="film.description">
                    </div>

                    <div class="form-group">
                        <label>Release Date</label>
                        <input type="date" class="form-control" v-model="film.release_date">
                    </div>

                    <div class="form-group">
                        <label>Rating</label>
                        <input type="rating" class="form-control" v-model="film.rating">
                    </div>

                    <div class="form-group">
                        <label>Ticket Price</label>
                        <input type="number" class="form-control" v-model="film.ticket_price">
                    </div>

                    <div class="form-group">
                        <label>Country</label>

			  <select class="form-control" v-model="film.country">
			     <option selected value="IN">India</option>
			     <option value="UAE">UAE</option>
			     <option value="US">US</option>
			  </select>

                    </div>

                    <div class="form-group">
                        <label>Genre</label>
                        <input type="text" class="form-control" v-model="film.genre">
                    </div>

                    <div class="form-group">
                        <label>Photo</label>
                        <input type="upload" class="form-control" v-model="film.photo">
                    </div>


                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                film: {}
            }
        },
        methods: {
            addFilm() {
                this.axios
                    .post('http://localhost:8000/api/films', this.film)
                    .then(response => (
                        this.$router.push({ name: 'home' })
                    ))
                    .catch(err => console.log(err))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>
